<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soulfriends.meditation"
    android:versionCode="11"
    android:versionName="1.0.10">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_realicon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_realicon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Meditation"
        android:windowSoftInputMode="adjustResize">

<!--        android:roundIcon="@mipmap/ic_launcher_round"-->

 	    <activity android:name=".view.AlertActivity" android:screenOrientation="portrait" android:theme="@style/Theme.Transparent"/>
        <activity android:name=".view.AlertOneActivity" android:screenOrientation="portrait" android:theme="@style/Theme.Transparent"/>

        <activity android:name=".view.ContentsinfoActivity" android:screenOrientation="portrait">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".view.AuthorProfileActivity"  android:screenOrientation="portrait">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".view.SettingActivity" android:screenOrientation="portrait" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".view.PasswordChangeActivity" android:screenOrientation="portrait" />
        <activity android:name=".view.SessioinActivity"  android:screenOrientation="portrait">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".view.PsychologyColorTestActivity" android:screenOrientation="portrait">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".view.PsychologyFeelingTestActivity" android:screenOrientation="portrait">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".view.PsychologyListActivity" android:screenOrientation="portrait">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".view.PsychologyResultActivity" android:screenOrientation="portrait" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".view.TimerResultActivity" android:screenOrientation="portrait" />
        <activity android:name=".view.TimerActivity" android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".view.PlayerActivity" android:screenOrientation="portrait">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".view.ContentsGroupActivity" android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".view.IntroActivity" android:screenOrientation="portrait">

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />
             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity android:name=".view.LoadingActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".view.UserinfoActivity" android:screenOrientation="portrait">

<!--             <intent-filter>-->
<!--             <action android:name="android.intent.action.MAIN" />-->
<!--             <category android:name="android.intent.category.LAUNCHER" />-->
<!--             </intent-filter>-->
        </activity>
        <activity android:name=".view.LoginActivity" android:screenOrientation="portrait">

<!--             <intent-filter>-->
<!--             <action android:name="android.intent.action.MAIN" />-->


<!--             <category android:name="android.intent.category.LAUNCHER" />-->
<!--             </intent-filter>-->
        </activity>
        <activity android:name=".view.MainActivity" android:screenOrientation="portrait">
<!--             <intent-filter>-->
<!--             <action android:name="android.intent.action.MAIN" />-->
<!--             <category android:name="android.intent.category.LAUNCHER" />-->
<!--             </intent-filter>-->
        </activity>

        <service android:name=".view.player.MeditationService" />
    </application>

</manifest>